.eic-scorm-frame {
  flex-grow: 1;
}

.app {
  display: flex;
  flex: 1;/* no need anymore to deal with height/width */
  flex-direction: column;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
}
